*{
    padding:0px;
    margin:0px;
}
.container{
    width:100vw;
    height:100vh;
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 72%);
    /* background-color:rgb(137, 107, 192); */
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.box1{
    width:27%;
    height:70%;
    background-color:aliceblue;
    justify-content:center;
    border-radius:9%;
    display:flex;
    justify-content:center;
    margin:1100px;
    padding:20px;
    box-shadow:10px 15px 10px  black;

}
.box2{
    

}
#img1{
    width:20vw;
    height:45vh;
    border-radius:9%;
    box-shadow:2px 3px 5px  black;
    transition-duration:1s;
    /* transition-delay:1s; */
    transition-timing-function:linear;

}
#img1:hover{
    transform:scale(1.5);

}
h2{
    transition-duration:1s;
    transition-timing-function:linear;

}
h2:hover{
    transform:scale(1.5);

}
h3{
    transition-duration:1s;
    transition-timing-function:linear;

}
h3:hover{
    transform:scale(1.5);

}
p{
    transition-duration:1s;
    transition-timing-function:linear;

}
p:hover{
    transform:scale(1.5);

}