*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
body{
    height: 100%;
    width:100%;

}
a{
    text-decoration:none;
}
.container{
    max-width:95vw;
    padding:2rm 1rem;
    margin:0 auto;
    background-color:aliceblue;
}
.header_container{
    margin:2.8rem;
}