*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    height:100%;
    width:100%;

}
.container{
    height:100%;
    width:100%;
    background-color:rgb(118, 91, 91);
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(4,200px);
    gap:0.4rem;
    padding:4rem;
    border:2px solid white;
    /* justify-items:stretch; */
    align-items:end;
}
.items{
    height:50px;
    width:100px;
    background-color:rgb(110, 219, 110);
    border:5px solid rgb(243, 173, 173);
    /* justify-self:stretch; */
    /* align-self:end; */
    /* place-self:stretch; */

}