
/*p{
    font-style:italic;
    font-size:20px;
    font-family:cursive;
    font-weight:900;
    line-height:30px;
}*/
h1{
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  
}
#color1{
    background-color:blanchedalmond;
    color:blue
}
#color2{
    background-color:rgb(177, 209, 234);
    color:blue;
}
#color3{
    background-color:rgba(241, 143, 184,0.5)
    
}
.color4{
    background-color:#afd624;
    color:blueviolet;
}
.color5{
    background-color:hsl(339, 92%, 62%);
    
}
